{
	email {$ACME_EMAIL}
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy server:8080

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	log {
		output stdout
		format json
	}
}
